:root {
    --primary-color: #703b23; 
    --primary-color2: green;
    --headings-color: #703c23;        /* Dark brown */
    --background-green: #bccf9e ;    /* For background and product highlight */
    --background-brown: #c5a56f;    /* For background and product highlight */
    --accent2-color: #3e614b;
    --body-font: "Quicksand", sans-serif;
   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    margin: 0 auto;
    max-width: 1000px;
    font-family: var(--body-font);
}

header {
    background-color: var(--background-brown);
    display: grid;
    grid-template-columns: 1fr 2fr;
	grid-gap: 1rem;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 12px #333333a8;
    color: white;
}

#menu {
	display: block;
	font-size: 3rem;
	font-weight: 700;
	text-decoration: none;
	padding: 0.5rem 0.75rem;
	color: #000;
}

#menu::before {
	content: "≡";
}

.harmbuger {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.harmbuger li {
	display: none;
}
.harmbuger a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: rgb(43, 35, 35);
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.harmbuger a:hover,
.harmbuger a:active {
	color: var(--headings-color);
	background-color: white;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}



main img {
    width: 100%;
}


/* About page____________________________________________________*/


.about-section,
.highlighted{
    padding: 0 2rem;
}

.story {
    margin: 1rem 0;
}

.usp {
    padding: 0 20px;
    margin: 2rem 0;
}

.co {
    margin: 1rem auto;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2); /* subtle shadow */
}

.co img {
    width: 100%;
    border-radius: 10px;
}

.co h3,
.co p {
    padding: 5px 10px;
}

.tag {
    background-color: #c5a66f60;
    border-radius: 6px;
}


/* Footer section*/

footer {
    background-color: #eee;
    padding: 1rem;
    margin: 1rem 0;
    grid-column: 1 / 4;
    text-align: center;
    color: var(--headings-color);
    border-top: 1px solid rgb(207, 202, 202);
}

footer p {
    padding: 0;
    margin: 10px 0;
}

.social {
    margin: 0 auto;
}

.social img {
    width: 2em;
    padding: 5px;
    margin-top: 3px;
    margin-left: 5px;
    align-self: center;
}

/* Wide screen  CSS @media screen and (min-width: 600px)*/
@media screen and (min-width: 600px) {

    .cform {
    margin: 30px 0;
    background-color: var(--background-brown);
    padding: 30px  2rem;
    font-size: 1rem;
    border-radius: 8px;
    }
    .founders {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin: 2rem;
    }
}

/* Wide screen  CSS @media screen and (min-width: 1024px)*/
@media screen and (min-width: 768px) {
    
    .harmbuger {
		display: flex;
	}
	.harmbuger li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.harmbuger a {
		text-align: center;
	}
	#menu {
		display: none;
	}
}


