:root {
    --primary-color: #703b23; 
    --primary-color2: green;
    --headings-color: #703c23;        /* Dark brown */
    --background-green: #bccf9e ;    /* For background and product highlight */
    --background-brown: #c5a56f;    /* For background and product highlight */
    --accent2-color: #3e614b;
    --body-font: "Quicksand", sans-serif;
   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    margin: 0 auto;
    max-width: 1000px;
}

header {
    background-color: var(--background-brown);
    display: grid;
    grid-template-columns: 1fr 2fr;
	grid-gap: 1rem;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 12px #333333a8;
    color: white;
}

#menu {
	display: block;
	font-size: 3rem;
	font-weight: 700;
	text-decoration: none;
	padding: 0.5rem 0.75rem;
	color: #000;
}

#menu::before {
	content: "≡";
}

.harmbuger {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.harmbuger li {
	display: none;
}
.harmbuger a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: rgb(43, 35, 35);
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.harmbuger a:hover,
.harmbuger a:active {
	color: var(--headings-color);
	background-color: white;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

.overlay {
    position: absolute;
    top: 52%;
    left: 8%;
    color: white;
    border-left: 4px solid white;
    padding-left: 10px;
    
}


main img {
    width: 100%;
}

.hheading {
    grid-column: 1 /span 3;
    margin-bottom: 20px
}

.highlight {
    padding: 20px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.highlight p {
    font-size: 13px;
}

.highlight h3 {
    margin-bottom: 5px;
}

.card {
    padding: 5px 10px;
    transition: transform 0.3s ease;
    margin: 0 auto;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    align-items: center;
    gap: 12px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2); /* subtle shadow */
    border-radius: 8px; /* optional: rounded corners */
    border: 1px solid rgb(239, 235, 235);
}

.card div h3 {
    margin-bottom: 5px;
    color: var(--headings-color);
}

.card div p {
    font-size: 12px;
}

.description {

}

.card img {
    width: 150px;
    margin: 0 auto;
}

  .card:hover {
    transform: scale(1.05);
}

/* Form CSS */

.gchat {
    padding: 0 20px;
    margin: 1rem 0;
    margin-bottom: 4rem;
}

.mform {
    background-color: #eee;
    padding: 10px;
    font-size: 1rem;
}

.mform input[type="text"],
.mform input[type="number"]
{
    display: block;
    width: 100%;
    padding: .75rem;
    margin-bottom: 10px;
    
}

.mform h2 {
    padding: 5px 0;
    margin-bottom: 5px;
}

.mform input[type="submit"]{
    margin: 0 auto;
    width: 100%;
    padding: .75rem;
    margin-top: 5px;
    background-color: var(--headings-color);
    color: white;
    font-size: 1.5rem;
    border: 0;
}

footer {
    background-color: #eee;
    padding: 1rem;
    margin: 1rem 0;
    grid-column: 1 / 4;
    text-align: center;
    color: var(--headings-color);
}

footer p {
    padding: 0;
    margin: 10px 0;
}

.social img {
    width: 2em;
    padding: 5px;
}

/* Wide screen  CSS @media screen and (min-width: 768px)*/
@media screen and (min-width: 600px) {
     .overlay {
        position: absolute;
        top: 33%;
        left: 8%;
        color: white;
        border-left: 4px solid white;
        padding-left: 10px;
}
    .card img {
        width: 100%;
    }
}

/* Wide screen  CSS @media screen and (min-width: 1024px)*/
@media screen and (min-width: 768px) {
    .gchat {
        display: grid;
        grid-template-columns: 250px 1fr;
        gap: 10px;
        align-items: center;
        margin-bottom: 4rem;
    }

    .highlight {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        margin-top: 2rem;
    }

    .overlay {
        position: absolute;
        top: 32%;
        left: 10%;
        color: white;
        border-left: 4px solid white;
        padding-left: 10px;
}

    .hheading h2 {
        margin-bottom: 10px;
    }

    .hheading {
        margin-bottom: 2px;
    }

    .card {
        display: inline;
        align-content: center;
        margin: 0 auto;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); /* subtle shadow */
        border-radius: 8px; /* optional: rounded corners */
    }

    .description {
    padding: 10px;
}

    .card img {
        width: 100%;
    }
    
    
    .harmbuger {
		display: flex;
	}
	.harmbuger li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.harmbuger a {
		text-align: center;
	}
	#menu {
		display: none;
	}
}

/* Wide screen  CSS @media screen and (min-width: 768px)*/
@media screen and (min-width: 1024px) {
     .overlay {
        position: absolute;
        top: 21%;
        left: 10%;
        color: white;
        border-left: 4px solid white;
        padding-left: 10px;
}
}

/* Wide screen  CSS @media screen and (min-width: 768px)*/
@media screen and (min-width: 1440px) {
     .overlay {
        position: absolute;
        top: 22%;
        left: 22%;
        color: white;
        border-left: 4px solid white;
        padding-left: 10px;
}
}