* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: antiquewhite;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: bisque;
    color: blueviolet;
    text-align: center;
    padding: 20px;
}

#course-title {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 15px;
    padding: 0 10px;
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    font-weight: 400;
}