:root {
    --body-font: "Open Sans", sans-serif;
    --heading-font : "Anton", sans-serif;

    --primary-color :rgba(33, 33, 82, 0.718);
    --primary-color2 : white;
    --box-shadow : 0 0 30px gray;
}


body {
    font-family: var(--body-font);
}

h1, h2, h3 {
    font-family: var(--heading-font);
    letter-spacing: 2px;
    font-weight: 100;
}

header {
    background-color: var(--primary-color);
    color: var(--primary-color2);
}

header h1 {
    text-align: center;
    padding: 1rem;
}

nav {
    background-color: rgba(17, 26, 45, 0.465);
    padding: 5px;
    max-width: 180vw;
    text-align: center;
    margin-bottom: 1rem;
}

.navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    
}

.navigation li {
    flex: 1 1 auto;
}

nav a {
    text-decoration: none;
    color: var(--primary-color2);
}

.navigation a:hover {
    background-color: rgb(128, 169, 48);
    color: var(--primary-color2);
    padding: 2px;
}
 
/* main section */

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.card {
    border: 1px solid black;
    border-radius: 1rem;
    margin: 1rem;
}


.about img {
    width: 150px;
    height: var(--height-auto);
    float: right;
    padding: 2px;
    margin: 2rem 15px 10px 10px;
    box-shadow: var(--box-shadow);
}

.me {
    background-color: var(--primary-color);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    padding: 1rem;
    margin-top: 0;
    color: var(--primary-color2);
}

.me ul {
    align-items: center;
}

h2 {
    text-align: center;
}

p {
    padding: 20px;
}

.country img {
    width: 160px;
    height: var(--height-auto);
    float: left;
    margin: 19px 10px 10px 19px;
    box-shadow: var(--box-shadow);
}

.country h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.508);
}

.flag {
    display: grid;
    grid-template-columns: auto 1fr;
}

.caption {
    margin-left: 20px;
}

.caption p {
    float: none;
    text-align: center;
    font-style: italic;
    margin: 0;
}

footer {
    background-color: var(--primary-color);
    padding: 1rem;
    grid-column: 1 / 4;
    text-align: center;
    color: var(--primary-color2);
}

footer p {
    padding: 0;
}