
header {
    background-color: rgba(46, 46, 122, 0.718);
    color: white;
}

header h1 {
    text-align: center;
    padding: 1rem;
}

nav {
    background-color: rgba(0, 0, 0, 0.722);
    padding: 5px;
    max-width: 180vw;
    text-align: center;
    margin-bottom: 1rem;
}

.navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    text-decoration: none;
    color: white
}
 
/* main section */

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.card {
    border: 1px solid black;
    border-radius: 1rem;
    margin: 1rem;
}


.about img {
    width: 150px;
    height: var(--height-auto);
    float: right;
    padding: 2px;
    margin: 1rem 10px 10px 10px;
    box-shadow: 0 0 30px gray;
    border: 1px solid steelblue;
}

.me {
    background-color: rgba(78, 17, 17, 0.593);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    padding: 1rem;
    margin-top: 0;
    color: white;
}

h2 {
    text-align: center;
}

p {
    padding: 20px;
}

.country img {
    width: 160px;
    height: var(--height-auto);
    float: left;
    margin: 0 10px 10px ;
    box-shadow: 0 0 30px gray;
    border: 1px solid steelblue;
}

.country h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.508);
}

.flag {
    display: grid;
    grid-template-columns: auto 1fr;
}

.caption {
    margin-left: 20px;
}

.caption p {
    float: none;
    text-align: center;
    font-style: italic;
}

footer {
    background-color: gray;
    padding: 1rem;
    grid-column: 1 / 4;
    text-align: center;
}

footer p {
    padding: 0;
}