:root {
    --primary-color: white; 
    --primary-color2: green;
    --body-font: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    color: black;
    font-family: var(--body-font);
}

h1 {
    background-color: var(--primary-color2);
    text-align: center;
    padding: 2rem;
    color: var(--primary-color);
}

h2 {
    color: var(--primary-color2);
    text-align: center;
    margin-bottom: 5px;
}

.icon {
    display: block;
    width: 80px;
    margin: 0 auto;
}

.container {
    margin: 1rem auto;
    align-self: center;
    max-width: 400px;
    border-radius: 10px;
    padding: 1rem;
}

.item {
    display: grid;
    grid-template-columns: 1fr 200px;
}

.input {
    text-align: right;
    padding-right: 10px;
}

.hero img {
	width: 100%;
	height: auto;
}

footer {
    background-color: var(--primary-color);
    padding: 1rem;
    margin: 1rem 0;
    grid-column: 1 / 4;
    text-align: center;
    color: black;
}

footer p {
    padding: 0;
}

/* @media query*/

@media screen and (min-width: 40em) {
	main {
        position: relative;
        display: flex;
	}

    .container {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.526);
        
    }

    .one {
        position: absolute;
        top: 1.5rem;
        left: 1rem;
        background-color: var(--primary-color);
    }

    h2 {
        color: var(--primary-color2);
        text-align: left;
        padding: 15px;
        margin-bottom: 10px;
        margin-left: 0;
    }

    h2.weather::after {
        content: "⛅";
        margin-left: 8px;
        font-size: 1.2rem;
        color: var(--primary-color2);
    }

    .icon {
        display: none;
    }

    .two {
        position: absolute;
        bottom: 1.5rem;
        right: 1rem;
        background-color: var(--primary-color);
    }
	
}

