@media (min-width:768px){

#menuButton {
    display: none; 
}

.header-container {
    padding: 1.5rem 2rem;
    justify-content: center;
}

header h1 {
    font-size: 2.5rem;
}

nav {
    display: flex ; 
    justify-content: center;
    flex-direction: row;
    background-color: #11223f;
}

nav a {
    padding: 1rem 2rem;
    border-top: none;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
}

nav a:last-child {
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.gallery-grid {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
}


 }